appnope==0.1.3
asttokens==2.1.0
attrs==22.1.0
backcall==0.2.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
commonmark==0.9.1
contourpy==1.0.6
cryptography==38.0.3
cycler==0.11.0
cysignals==1.11.2
Cython==0.29.32
dataclasses==0.6
debugpy==1.6.3
decorator==5.1.1
dill==0.3.6
entrypoints==0.4
executing==1.2.0
fonttools==4.38.0
idna==3.4
importlib-resources==5.10.0
ipykernel==6.17.1
ipython==8.6.0
ipywidgets==8.0.2
jedi==0.18.1
jsonschema==4.17.0
jupyter_client==7.4.6
jupyter_core==5.0.0
jupyterlab-widgets==3.0.3
kiwisolver==1.4.4
matplotlib==3.6.2
matplotlib-inline==0.1.6
mpmath==1.2.1
nest-asyncio==1.5.6
netqasm==0.12.2
netsquid==1.0.7
netsquid-magic==12.1.0
netsquid-nv==8.0.0
netsquid-physlayer==4.1.0
netsquid-simulationtools==2.0.0
ntlm-auth==1.5.0
numexpr==2.8.4
numpy==1.22.4
packaging==21.3
pandas==1.5.1
parso==0.8.3
pbr==5.11.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pkgutil_resolve_name==1.3.10
platformdirs==2.5.4
ply==3.11
prompt-toolkit==3.0.32
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pydantic==1.10.2
pydot==1.4.2
pydynaa==0.3.6
Pygments==2.13.0
pylatexenc==2.10
pyparsing==3.0.9
pyrsistent==0.19.2
python-dateutil==2.8.2
pytz==2022.6
PyYAML==6.0
pyzmq==24.0.1
qiskit==0.39.2
qiskit-aer==0.11.1
qiskit-ibmq-provider==0.19.2
qiskit-terra==0.22.2
qiskit-textbook @ git+https://github.com/qiskit-community/qiskit-textbook.git@6fe5bed63e80dbab1f616c7db2bf32fabd8d44f0#subdirectory=qiskit-textbook-src
qlink-interface==1.0.0
qne-adk==0.1.0
requests==2.28.1
requests-ntlm==1.1.0
retworkx==0.12.0
rich==12.6.0
rustworkx==0.12.0
scipy==1.8.1
seaborn==0.12.1
shellingham==1.5.0
six==1.16.0
squidasm==0.10.0
stack-data==0.6.1
stevedore==4.1.1
symengine==0.9.2
sympy==1.11.1
tabulate==0.9.0
tornado==6.2
traitlets==5.5.0
tweedledum==1.1.1
typer==0.7.0
typing_extensions==4.4.0
urllib3==1.26.12
wcwidth==0.2.5
websocket-client==1.4.2
websockets==10.4
widgetsnbextension==4.0.3
zipp==3.10.0
